In [36]:
from pyspark.sql import SparkSession
import pyspark
from pyspark.sql.functions import explode, flatten, col, concat, lit, regexp_replace, input_file_name

In [37]:
spark = SparkSession.builder.master('local[*]') \
    .appName('visualizacao') \
    .getOrCreate()

In [38]:
df = spark.read.json('data/datalake/bronze/extract_date=*/*.json')
df.printSchema()
df = df.na.drop()

root
 |-- data_extracao: string (nullable = true)
 |-- hr: string (nullable = true)
 |-- l: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- c: string (nullable = true)
 |    |    |-- cl: long (nullable = true)
 |    |    |-- lt0: string (nullable = true)
 |    |    |-- lt1: string (nullable = true)
 |    |    |-- qv: long (nullable = true)
 |    |    |-- sl: long (nullable = true)
 |    |    |-- vs: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- a: boolean (nullable = true)
 |    |    |    |    |-- is: string (nullable = true)
 |    |    |    |    |-- p: long (nullable = true)
 |    |    |    |    |-- px: double (nullable = true)
 |    |    |    |    |-- py: double (nullable = true)
 |    |    |    |    |-- sv: string (nullable = true)
 |    |    |    |    |-- ta: string (nullable = true)

In [39]:
df_p = df.select(df.data_extracao, df.hr, explode(df.l).alias('lista'))
df_p.show(5, truncate=False)
df_p.printSchema()

+----------------+-----+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|data_extracao   |hr   |lista                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+----------------+-----+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2023-09-09 11:36|11:36|{6069-10, 1154, TERM. STO. AMARO, JD. SÃO BERNARDO, 4, 1, [{true, null, 66525, -46.71154075, -23.653890625, null, 2023-09-09T14:35:55Z}, {true, null, 66706, -46.6953825, -23.748659500000002, null, 2023-09-09T14:34:51Z}, {true, null, 66414, -46.703199, -23.684085500000002, null, 2023-09-09T14:36:16Z}, {true, null, 66716, -46.6992625, -23.726964000000002, null, 2023-09-09T14:36:22Z}]}                                                                                                                                                                                                                                                                                         |
|2023-09-09 11:36|11:36|{6L10-41, 34773, TERM. VARGINHA, MESSIÂNICA, 4, 2, [{true, null, 66765, -46.765596, -23.7880685, null, 2023-09-09T14:36:00Z}, {true, null, 66402, -46.765596, -23.7880685, null, 2023-09-09T14:35:53Z}, {true, null, 66536, -46.765596, -23.7880685, null, 2023-09-09T14:36:28Z}, {true, null, 66932, -46.72226175, -23.77495725, null, 2023-09-09T14:36:21Z}]}                                                                                                                                                                                                                                                                                                                           |
|2023-09-09 11:36|11:36|{2734-10, 34528, METRÔ ITAQUERA, JD. CAMPOS, 3, 2, [{true, null, 35939, -46.435375375, -23.509469375000002, null, 2023-09-09T14:35:16Z}, {true, null, 35784, -46.4467, -23.52863575, null, 2023-09-09T14:36:16Z}, {true, null, 35928, -46.41021025, -23.510827749999997, null, 2023-09-09T14:36:25Z}]}                                                                                                                                                                                                                                                                                                                                                                                    |
|2023-09-09 11:36|11:36|{701A-10, 33457, METRÔ VL. MADALENA, PQ. EDU CHAVES, 8, 2, [{true, null, 21238, -46.589543, -23.518244125000002, null, 2023-09-09T14:36:23Z}, {true, null, 21386, -46.63965, -23.547204999999998, null, 2023-09-09T14:36:18Z}, {true, null, 21393, -46.565966, -23.4737385, null, 2023-09-09T14:35:54Z}, {true, null, 21368, -46.596869, -23.527497, null, 2023-09-09T14:33:13Z}, {true, null, 21399, -46.5664555, -23.473947, null, 2023-09-09T14:36:27Z}, {true, null, 21387, -46.566243, -23.4738595, null, 2023-09-09T14:36:11Z}, {true, null, 21237, -46.5907625, -23.499533, null, 2023-09-09T14:36:17Z}, {true, null, 21397, -46.565966, -23.4737385, null, 2023-09-09T14:35:50Z}]}|
|2023-09-09 11:36|11:36|{273R-10, 32994, METRÔ ARTUR ALVIM, JD. ROBRU, 4, 2, [{true, null, 32621, -46.4755906875, -23.520824375, null, 2023-09-09T14:36:19Z}, {true, null, 32613, -46.42110675, -23.510990500000002, null, 2023-09-09T14:35:57Z}, {true, null, 32040, -46.41263875, -23.522662999999998, null, 2023-09-09T14:36:27Z}, {true, null, 32083, -46.450733, -23.514086374999998, null, 2023-09-09T14:35:48Z}]}                                                                                                                                                                                                                                                                                          |
+----------------+-----+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

root
 |-- data_extracao: string (nullable = true)
 |-- hr: string (nullable = true)
 |-- lista: struct (nullable = true)
 |    |-- c: string (nullable = true)
 |    |-- cl: long (nullable = true)
 |    |-- lt0: string (nullable = true)
 |    |-- lt1: string (nullable = true)
 |    |-- qv: long (nullable = true)
 |    |-- sl: long (nullable = true)
 |    |-- vs: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- a: boolean (nullable = true)
 |    |    |    |-- is: string (nullable = true)
 |    |    |    |-- p: long (nullable = true)
 |    |    |    |-- px: double (nullable = true)
 |    |    |    |-- py: double (nullable = true)
 |    |    |    |-- sv: string (nullable = true)
 |    |    |    |-- ta: string (nullable = true)

In [40]:
df_p2 = df_p.select(df_p.data_extracao, df_p.lista)
df_p2.printSchema()

root
 |-- data_extracao: string (nullable = true)
 |-- lista: struct (nullable = true)
 |    |-- c: string (nullable = true)
 |    |-- cl: long (nullable = true)
 |    |-- lt0: string (nullable = true)
 |    |-- lt1: string (nullable = true)
 |    |-- qv: long (nullable = true)
 |    |-- sl: long (nullable = true)
 |    |-- vs: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- a: boolean (nullable = true)
 |    |    |    |-- is: string (nullable = true)
 |    |    |    |-- p: long (nullable = true)
 |    |    |    |-- px: double (nullable = true)
 |    |    |    |-- py: double (nullable = true)
 |    |    |    |-- sv: string (nullable = true)
 |    |    |    |-- ta: string (nullable = true)

In [41]:
# df_amostra_um = df_p2.select(df_p2.data_extracao,df_p2.lista.c ,df_p2.lista.vs.p,df_p2.lista.vs.py, df_p2.lista.vs.px)
# Método para obter o dados dos ônibus
df_amostra_um = df_p2.select(
    df_p2.data_extracao,
    df_p2.lista.c.alias('LETREIRO_COMPLETO'), 
    df_p2.lista.sl.alias('SENTIDO_OPERACAO'), 
    df_p2.lista.cl.alias('CODIGO_IDENTIFICADOR_LINHA') , 
    explode(df_p2.lista.vs).alias('expansao')) \
    .select(col('data_extracao').alias('DATA_EXTRACAO'),
            'LETREIRO_COMPLETO',
            'SENTIDO_OPERACAO',
            'CODIGO_IDENTIFICADOR_LINHA',
            col('expansao.p').alias('PREFIXO_ONIBUS'),
            col('expansao.ta').alias('DATA_HORA_CAPTURA_LOCALIZACAO'),
            col('expansao.py').alias('LATITUDE') ,
            col('expansao.px').alias('LONGITUDE'),
            
            ) \
            .filter(col('expansao.p') == '15208') \
    .sort(df_p2.data_extracao.desc(),df_p2.lista.c.asc() ) \
    
df_amostra_um.show(truncate=False)

+----------------+-----------------+----------------+--------------------------+--------------+-----------------------------+-------------------+-------------------+
|DATA_EXTRACAO   |LETREIRO_COMPLETO|SENTIDO_OPERACAO|CODIGO_IDENTIFICADOR_LINHA|PREFIXO_ONIBUS|DATA_HORA_CAPTURA_LOCALIZACAO|LATITUDE           |LONGITUDE          |
+----------------+-----------------+----------------+--------------------------+--------------+-----------------------------+-------------------+-------------------+
|2023-09-09 22:40|848L-10          |2               |33576                     |15208         |2023-09-10T01:39:54Z         |-23.4130405        |-46.750367         |
|2023-09-09 22:36|848L-10          |2               |33576                     |15208         |2023-09-10T01:35:24Z         |-23.4130405        |-46.750367         |
|2023-09-09 22:32|848L-10          |2               |33576                     |15208         |2023-09-10T01:31:38Z         |-23.4130405        |-46.750367         |
|2023-09-09 22:28|848L-10          |2               |33576                     |15208         |2023-09-10T01:27:53Z         |-23.4130405        |-46.750367         |
|2023-09-09 22:24|848L-10          |1               |808                       |15208         |2023-09-10T01:23:51Z         |-23.413953499999998|-46.750866         |
|2023-09-09 22:20|848L-10          |2               |33576                     |15208         |2023-09-10T01:19:40Z         |-23.4194175        |-46.7533035        |
|2023-09-09 22:16|848L-10          |2               |33576                     |15208         |2023-09-10T01:15:55Z         |-23.4071995        |-46.758607         |
|2023-09-09 22:12|848L-10          |2               |33576                     |15208         |2023-09-10T01:11:51Z         |-23.404367999999998|-46.7515875        |
|2023-09-09 22:08|848L-10          |2               |33576                     |15208         |2023-09-10T01:07:33Z         |-23.409377         |-46.748789         |
|2023-09-09 22:04|848L-10          |2               |33576                     |15208         |2023-09-10T01:03:48Z         |-23.410227499999998|-46.735776         |
|2023-09-09 22:00|848L-10          |2               |33576                     |15208         |2023-09-10T01:00:03Z         |-23.4234875        |-46.72467125       |
|2023-09-09 21:56|848L-10          |2               |33576                     |15208         |2023-09-10T00:55:55Z         |-23.4323995        |-46.7242835        |
|2023-09-09 21:52|848L-10          |2               |33576                     |15208         |2023-09-10T00:51:24Z         |-23.438156         |-46.721397499999995|
|2023-09-09 21:48|848L-10          |2               |33576                     |15208         |2023-09-10T00:47:39Z         |-23.4434775        |-46.729263875      |
|2023-09-09 21:44|848L-10          |2               |33576                     |15208         |2023-09-10T00:44:04Z         |-23.441400625      |-46.72146          |
|2023-09-09 21:40|848L-10          |2               |33576                     |15208         |2023-09-10T00:39:34Z         |-23.4522315        |-46.7186795        |
|2023-09-09 21:36|848L-10          |2               |33576                     |15208         |2023-09-10T00:35:35Z         |-23.4623475        |-46.7210405        |
|2023-09-09 21:32|848L-10          |2               |33576                     |15208         |2023-09-10T00:31:33Z         |-23.4761165        |-46.727823         |
|2023-09-09 21:28|848L-10          |2               |33576                     |15208         |2023-09-10T00:27:59Z         |-23.486878500000003|-46.7265645        |
|2023-09-09 21:24|848L-10          |1               |808                       |15208         |2023-09-10T00:23:56Z         |-23.485637500000003|-46.7260535        |
+----------------+-----------------+----------------+--------------------------+--------------+-----------------------------+-------------------+-------------------+
only showing top 20 rows

In [48]:
# Método de obter operação
df_operacao =df.select(df.hr, df.data_extracao, explode('l').alias('DADOS_LINHA')) \
    .withColumnRenamed('hr', 'HORA_API') \
    .select('HORA_API',
            'DATA_EXTRACAO',
            col('DADOS_LINHA.c').alias('LETREIRO_COMPLETO'),
            col('DADOS_LINHA.cl').alias('CODIGO_IDENTIFICADOR'), 
            col('DADOS_LINHA.lt0').alias('LETREIRO_ORIGEM'),
            col('DADOS_LINHA.lt1').alias('LETREIRO_DESTINO'), 
            col('DADOS_LINHA.qv').alias('QTDE_VEICULOS_OPERACAO'),
              )
#     .where('c == "7005-51"') \

df_operacao.show(truncate=False)

+--------+----------------+-----------------+--------------------+---------------------+-------------------+----------------------+
|HORA_API|DATA_EXTRACAO   |LETREIRO_COMPLETO|CODIGO_IDENTIFICADOR|LETREIRO_ORIGEM      |LETREIRO_DESTINO   |QTDE_VEICULOS_OPERACAO|
+--------+----------------+-----------------+--------------------+---------------------+-------------------+----------------------+
|11:36   |2023-09-09 11:36|6069-10          |1154                |TERM. STO. AMARO     |JD. SÃO BERNARDO   |4                     |
|11:36   |2023-09-09 11:36|6L10-41          |34773               |TERM. VARGINHA       |MESSIÂNICA         |4                     |
|11:36   |2023-09-09 11:36|2734-10          |34528               |METRÔ ITAQUERA       |JD. CAMPOS         |3                     |
|11:36   |2023-09-09 11:36|701A-10          |33457               |METRÔ VL. MADALENA   |PQ. EDU CHAVES     |8                     |
|11:36   |2023-09-09 11:36|273R-10          |32994               |METRÔ ARTUR ALVIM    |JD. ROBRU          |4                     |
|11:36   |2023-09-09 11:36|6000-10          |33908               |TERM. STO. AMARO     |TERM. PARELHEIROS  |10                    |
|11:36   |2023-09-09 11:36|6291-10          |358                 |TERM. BANDEIRA       |INOCOOP CAMPO LIMPO|4                     |
|11:36   |2023-09-09 11:36|546J-10          |1133                |STO. AMARO           |JD. SELMA          |2                     |
|11:36   |2023-09-09 11:36|1782-10          |643                 |METRÔ SANTANA        |VL. NOVA GALVÃO    |2                     |
|11:36   |2023-09-09 11:36|695Y-10          |33966               |METRÔ VL. MARIANA    |TERM. PARELHEIROS  |8                     |
|11:36   |2023-09-09 11:36|675M-10          |108                 |METRÔ JABAQUARA      |CENTRO SESC        |5                     |
|11:36   |2023-09-09 11:36|3762-10          |1053                |METRÔ TATUAPÉ        |JD. IVA            |4                     |
|11:36   |2023-09-09 11:36|263C-10          |33020               |COHAB II             |JD. HELENA         |4                     |
|11:36   |2023-09-09 11:36|2290-10          |33486               |TERM. PQ. D. PEDRO II|TERM. SÃO MATEUS   |11                    |
|11:36   |2023-09-09 11:36|1016-10          |33599               |SHOP. CENTER NORTE   |CEM. DO HORTO      |6                     |
|11:36   |2023-09-09 11:36|5018-10          |1492                |JABAQUARA            |SHOP. INTERLAGOS   |2                     |
|11:36   |2023-09-09 11:36|1743-10          |33311               |SHOP. D              |JD. PERY ALTO      |4                     |
|11:36   |2023-09-09 11:36|8700-1           |35276               |PÇA. RAMOS DE AZEVEDO|TERM. CAMPO LIMPO  |2                     |
|11:36   |2023-09-09 11:36|7017-10          |35270               |TERM. GUARAPIRANGA   |JD. GUARUJÁ        |4                     |
|11:36   |2023-09-09 11:36|8014-10          |33569               |PERUS                |MORRO DOCE         |7                     |
+--------+----------------+-----------------+--------------------+---------------------+-------------------+----------------------+
only showing top 20 rows

In [43]:
df_dados_completos_linha = spark.read.options(header='True') \
.csv('data/datalake/bronze/relacao_empresas_linha/dados_linhas_completo.csv')

In [44]:
df_dados_completos_linha.show()

23/09/10 18:59:27 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , _c1, LINHA, CODIGO_AREA, CONSOCIO, EMPRESA
 Schema: _c0, _c1, LINHA, CODIGO_AREA, CONSOCIO, EMPRESA
Expected: _c0 but found:
CSV file: file:///home/rodrigo/projetos/monitoramento_sptrans/data/datalake/bronze/relacao_empresas_linha/dados_linhas_completo.csv
+---+---+-------+-----------+--------------------+--------------------+
|_c0|_c1|  LINHA|CODIGO_AREA|            CONSOCIO|             EMPRESA|
+---+---+-------+-----------+--------------------+--------------------+
|  0|  0|975A-10|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
|  1|  1|9784-10|          1|CONSÓRCIO TRANSNO...|SPENCER TRANSPORT...|
|  2|  2|9785-10|          1|CONSÓRCIO TRANSNO...|NORTE BUSS TRANSP...|
|  3|  3|9785-51|          1|CONSÓRCIO TRANSNO...|NORTE BUSS TRANSP...|
|  4|  4|9789-10|          1|CONSÓRCIO TRANSNO...|NORTE BUSS TRANSP...|
|  5|  5|978A-10|          1|CONSÓRCIO BANDEIR...|VIAÇÃO GATO PRETO...|
|  6|  6|978J-10|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
|  7|  7|978L-10|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
|  8|  8|978T-10|          1|CONSÓRCIO TRANSNO...|NORTE BUSS TRANSP...|
|  9|  9|N101-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 10| 10|N102-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 11| 11|N103-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 12| 12|N104-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 13| 13|N105-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO GATO PRETO...|
| 14| 14|N106-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 15| 15|N131-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 16| 16|N132-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 17| 17|N133-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 18| 18|N134-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
| 19| 19|N135-11|          1|CONSÓRCIO BANDEIR...|VIAÇÃO SANTA BRIG...|
+---+---+-------+-----------+--------------------+--------------------+
only showing top 20 rows

In [49]:
df_dados_completos_linha.join(df_operacao, df_dados_completos_linha.LINHA == df_operacao.LETREIRO_COMPLETO, 'inner') \
.show(truncate=False)

23/09/10 19:00:30 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , _c1, LINHA, CODIGO_AREA, CONSOCIO, EMPRESA
 Schema: _c0, _c1, LINHA, CODIGO_AREA, CONSOCIO, EMPRESA
Expected: _c0 but found:
CSV file: file:///home/rodrigo/projetos/monitoramento_sptrans/data/datalake/bronze/relacao_empresas_linha/dados_linhas_completo.csv
+----+---+-------+-----------+---------------------------------------+---------------------------------------+--------+----------------+-----------------+--------------------+---------------------+-------------------+----------------------+
|_c0 |_c1|LINHA  |CODIGO_AREA|CONSOCIO                               |EMPRESA                                |HORA_API|DATA_EXTRACAO   |LETREIRO_COMPLETO|CODIGO_IDENTIFICADOR|LETREIRO_ORIGEM      |LETREIRO_DESTINO   |QTDE_VEICULOS_OPERACAO|
+----+---+-------+-----------+---------------------------------------+---------------------------------------+--------+----------------+-----------------+--------------------+---------------------+-------------------+----------------------+
|613 |9  |6069-10|6          |TRANSWOLFF TRANSPORTES E TURISMO LTDA  |TRANSWOLFF TRANSPORTES E TURISMO LTDA  |11:36   |2023-09-09 11:36|6069-10          |1154                |TERM. STO. AMARO     |JD. SÃO BERNARDO   |4                     |
|851 |49 |6L10-41|6          |TRANSWOLFF TRANSPORTES E TURISMO LTDA  |TRANSWOLFF TRANSPORTES E TURISMO LTDA  |11:36   |2023-09-09 11:36|6L10-41          |34773               |TERM. VARGINHA       |MESSIÂNICA         |4                     |
|1029|31 |2734-10|3          |UPBUS QUALIDADE EM TRANSPORTES S.A.    |UPBUS QUALIDADE EM TRANSPORTES S.A.    |11:36   |2023-09-09 11:36|2734-10          |34528               |METRÔ ITAQUERA       |JD. CAMPOS         |3                     |
|868 |66 |701A-10|2          |SAMBAIBA TRANSPORTES URBANOS LTDA.     |SAMBAIBA TRANSPORTES URBANOS LTDA.     |11:36   |2023-09-09 11:36|701A-10          |33457               |METRÔ VL. MADALENA   |PQ. EDU CHAVES     |8                     |
|1040|42 |273R-10|3          |VIAÇÃO METRÓPOLE PAULISTA S.A.         |VIAÇÃO METRÓPOLE PAULISTA S.A.         |11:36   |2023-09-09 11:36|273R-10          |32994               |METRÔ ARTUR ALVIM    |JD. ROBRU          |4                     |
|344 |39 |6000-10|6          |MOBIBRASIL TRANSPORTE SÃO PAULO LTDA   |MOBIBRASIL TRANSPORTE SÃO PAULO LTDA   |11:36   |2023-09-09 11:36|6000-10          |33908               |TERM. STO. AMARO     |TERM. PARELHEIROS  |10                    |
|653 |49 |6291-10|7          |VIAÇÃO GATUSA TRANSPORTES URBANOS LTDA.|VIAÇÃO GATUSA TRANSPORTES URBANOS LTDA.|11:36   |2023-09-09 11:36|6291-10          |358                 |TERM. BANDEIRA       |INOCOOP CAMPO LIMPO|4                     |
|1196|98 |546J-10|6          |A2 TRANSPORTES LTDA                    |A2 TRANSPORTES LTDA                    |11:36   |2023-09-09 11:36|546J-10          |1133                |STO. AMARO           |JD. SELMA          |2                     |
|986 |87 |1782-10|2          |SAMBAIBA TRANSPORTES URBANOS LTDA.     |SAMBAIBA TRANSPORTES URBANOS LTDA.     |11:36   |2023-09-09 11:36|1782-10          |643                 |METRÔ SANTANA        |VL. NOVA GALVÃO    |2                     |
|832 |30 |695Y-10|6          |VIAÇÃO GRAJAÚ S.A.                     |VIAÇÃO GRAJAÚ S.A.                     |11:36   |2023-09-09 11:36|695Y-10          |33966               |METRÔ VL. MARIANA    |TERM. PARELHEIROS  |8                     |
|691 |87 |675M-10|6          |MOBIBRASIL TRANSPORTE SÃO PAULO LTDA   |MOBIBRASIL TRANSPORTE SÃO PAULO LTDA   |11:36   |2023-09-09 11:36|675M-10          |108                 |METRÔ JABAQUARA      |CENTRO SESC        |5                     |
|1263|65 |3762-10|4          |ALLIBUS TRANSPORTES LTDA               |ALLIBUS TRANSPORTES LTDA               |11:36   |2023-09-09 11:36|3762-10          |1053                |METRÔ TATUAPÉ        |JD. IVA            |4                     |
|782 |79 |263C-10|3          |VIAÇÃO METRÓPOLE PAULISTA S.A.         |VIAÇÃO METRÓPOLE PAULISTA S.A.         |11:36   |2023-09-09 11:36|263C-10          |33020               |COHAB II             |JD. HELENA         |4                     |
|764 |61 |2290-10|4          |CONSÓRCIO TRANSVIDA                    |AMBIENTAL TRANSPORTES URBANOS S.A.     |11:36   |2023-09-09 11:36|2290-10          |33486               |TERM. PQ. D. PEDRO II|TERM. SÃO MATEUS   |11                    |
|902 |3  |1016-10|2          |CONSÓRCIO TRANSNOROESTE                |NORTE BUSS TRANSPORTES S.A.            |11:36   |2023-09-09 11:36|1016-10          |33599               |SHOP. CENTER NORTE   |CEM. DO HORTO      |6                     |
|1102|4  |5018-10|6          |A2 TRANSPORTES LTDA                    |A2 TRANSPORTES LTDA                    |11:36   |2023-09-09 11:36|5018-10          |1492                |JABAQUARA            |SHOP. INTERLAGOS   |2                     |
|963 |64 |1743-10|2          |SAMBAIBA TRANSPORTES URBANOS LTDA.     |SAMBAIBA TRANSPORTES URBANOS LTDA.     |11:36   |2023-09-09 11:36|1743-10          |33311               |SHOP. D              |JD. PERY ALTO      |4                     |
|867 |65 |7017-10|7          |TRANSWOLFF TRANSPORTES E TURISMO LTDA  |TRANSWOLFF TRANSPORTES E TURISMO LTDA  |11:36   |2023-09-09 11:36|7017-10          |35270               |TERM. GUARAPIRANGA   |JD. GUARUJÁ        |4                     |
|466 |61 |8014-10|1          |CONSÓRCIO TRANSNOROESTE                |NORTE BUSS TRANSPORTES S.A.            |11:36   |2023-09-09 11:36|8014-10          |33569               |PERUS                |MORRO DOCE         |7                     |
|978 |79 |1772-10|2          |SAMBAIBA TRANSPORTES URBANOS LTDA.     |SAMBAIBA TRANSPORTES URBANOS LTDA.     |11:36   |2023-09-09 11:36|1772-10          |635                 |METRÔ TUCURUVI       |JD. FILHOS DA TERRA|2                     |
+----+---+-------+-----------+---------------------------------------+---------------------------------------+--------+----------------+-----------------+--------------------+---------------------+-------------------+----------------------+
only showing top 20 rows